/server/bin/Debug/net6.0/Microsoft.OpenApi.dll
/server/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/server/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/server/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/server/bin/Debug/net6.0/appsettings.Development.json
/server/bin/Debug/net6.0/appsettings.json
/server/bin/Debug/net6.0/server.deps.json
/server/bin/Debug/net6.0/server.dll
/server/bin/Debug/net6.0/server.exe
/server/bin/Debug/net6.0/server.pdb
/server/bin/Debug/net6.0/server.runtimeconfig.json
/server/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/server/obj/Debug/net6.0/apphost.exe
/server/obj/Debug/net6.0/project.razor.json
/server/obj/Debug/net6.0/ref/server.dll
/server/obj/Debug/net6.0/refint/server.dll
/server/obj/Debug/net6.0/server.AssemblyInfo.cs
/server/obj/Debug/net6.0/server.AssemblyInfoInputs.cache
/server/obj/Debug/net6.0/server.GeneratedMSBuildEditorConfig.editorconfig
/server/obj/Debug/net6.0/server.GlobalUsings.g.cs
/server/obj/Debug/net6.0/server.MvcApplicationPartsAssemblyInfo.cache
/server/obj/Debug/net6.0/server.MvcApplicationPartsAssemblyInfo.cs
/server/obj/Debug/net6.0/server.assets.cache
/server/obj/Debug/net6.0/server.csproj.AssemblyReference.cache
/server/obj/Debug/net6.0/server.csproj.CopyComplete
/server/obj/Debug/net6.0/server.csproj.CoreCompileInputs.cache
/server/obj/Debug/net6.0/server.csproj.FileListAbsolute.txt
/server/obj/Debug/net6.0/server.dll
/server/obj/Debug/net6.0/server.genruntimeconfig.cache
/server/obj/Debug/net6.0/server.pdb
/server/obj/Debug/net6.0/staticwebassets.build.json
/server/obj/project.assets.json
/server/obj/project.nuget.cache
/server/obj/server.csproj.nuget.dgspec.json
/server/obj/server.csproj.nuget.g.props
/server/obj/server.csproj.nuget.g.targets
/server/obj/staticwebassets.pack.sentinel
/unittest/bin/Debug/net6.0/CoverletSourceRootsMapping
/unittest/bin/Debug/net6.0/Microsoft.OpenApi.dll
/unittest/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/unittest/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
/unittest/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/unittest/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/unittest/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
/unittest/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/unittest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/unittest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/unittest/bin/Debug/net6.0/Newtonsoft.Json.dll
/unittest/bin/Debug/net6.0/NuGet.Frameworks.dll
/unittest/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/unittest/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/unittest/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/unittest/bin/Debug/net6.0/appsettings.Development.json
/unittest/bin/Debug/net6.0/appsettings.json
/unittest/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/unittest/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/unittest/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/unittest/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/unittest/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/unittest/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/unittest/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/unittest/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/unittest/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/unittest/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/unittest/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/unittest/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/unittest/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/unittest/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/unittest/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/unittest/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/unittest/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/unittest/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/unittest/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/unittest/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/unittest/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/unittest/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/unittest/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/unittest/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/unittest/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/unittest/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/unittest/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/unittest/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/unittest/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/unittest/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/unittest/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/unittest/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/unittest/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/unittest/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/unittest/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/unittest/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/unittest/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/unittest/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/unittest/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/unittest/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/unittest/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/unittest/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/unittest/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/unittest/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/unittest/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/unittest/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/unittest/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/unittest/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/unittest/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/unittest/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/unittest/bin/Debug/net6.0/server.deps.json
/unittest/bin/Debug/net6.0/server.dll
/unittest/bin/Debug/net6.0/server.exe
/unittest/bin/Debug/net6.0/server.pdb
/unittest/bin/Debug/net6.0/server.runtimeconfig.json
/unittest/bin/Debug/net6.0/testhost.dll
/unittest/bin/Debug/net6.0/testhost.exe
/unittest/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/unittest/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/unittest/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/unittest/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/unittest/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/unittest/bin/Debug/net6.0/unittest.deps.json
/unittest/bin/Debug/net6.0/unittest.dll
/unittest/bin/Debug/net6.0/unittest.pdb
/unittest/bin/Debug/net6.0/unittest.runtimeconfig.json
/unittest/bin/Debug/net6.0/xunit.abstractions.dll
/unittest/bin/Debug/net6.0/xunit.assert.dll
/unittest/bin/Debug/net6.0/xunit.core.dll
/unittest/bin/Debug/net6.0/xunit.execution.dotnet.dll
/unittest/bin/Debug/net6.0/xunit.runner.reporters.netcoreapp10.dll
/unittest/bin/Debug/net6.0/xunit.runner.utility.netcoreapp10.dll
/unittest/bin/Debug/net6.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
/unittest/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/unittest/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/unittest/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/unittest/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/unittest/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/unittest/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/unittest/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/unittest/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/unittest/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/unittest/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/unittest/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/unittest/obj/Debug/net6.0/ref/unittest.dll
/unittest/obj/Debug/net6.0/refint/unittest.dll
/unittest/obj/Debug/net6.0/unittest.AssemblyInfo.cs
/unittest/obj/Debug/net6.0/unittest.AssemblyInfoInputs.cache
/unittest/obj/Debug/net6.0/unittest.GeneratedMSBuildEditorConfig.editorconfig
/unittest/obj/Debug/net6.0/unittest.assets.cache
/unittest/obj/Debug/net6.0/unittest.csproj.AssemblyReference.cache
/unittest/obj/Debug/net6.0/unittest.csproj.CopyComplete
/unittest/obj/Debug/net6.0/unittest.csproj.CoreCompileInputs.cache
/unittest/obj/Debug/net6.0/unittest.csproj.FileListAbsolute.txt
/unittest/obj/Debug/net6.0/unittest.dll
/unittest/obj/Debug/net6.0/unittest.genruntimeconfig.cache
/unittest/obj/Debug/net6.0/unittest.pdb
/unittest/obj/project.assets.json
/unittest/obj/project.nuget.cache
/unittest/obj/unittest.csproj.nuget.dgspec.json
/unittest/obj/unittest.csproj.nuget.g.props
/unittest/obj/unittest.csproj.nuget.g.targets
